@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	overflow: hidden;
	margin: 0;
}

#loader {
	z-index: 1;
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0 auto;
	cursor: wait;
	text-align: center;
}

#loader div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#loader img {
	max-width: 80%;
}

#page {
	height: 100%;
}

#page #refresh {
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
	background: url('../img/refresh.png') no-repeat 0 0;
	background-size: 2em;
	height: 2em;
	width: 2em;
}

#page h1 {
	text-align: center;
	font-size: 6em;
	text-transform: UPPERCASE;
	margin-bottom: 0;
}

#page h1 #link {
	cursor: pointer;
}

#page footer {
	z-index: 2;
	position: fixed;
	height: 100%;
	width: 100%;
	color: #141414;
	font-size: 0.7em;
}

#page footer p {
	text-align: left;
	position: fixed;
	left: 0.3em;
	bottom: 0.3em;
	margin-bottom: 0;
}

#page footer a:link {
	color: #3498DB;
	text-decoration: none;
}

#page footer a:visited {
	color: #3498DB;
	text-decoration: none;
}

#page footer a:hover {
	font-weight: bold;
}

#page footer a:active {
	color: #3498DB;
	text-decoration: none;
}

#page footer #market-link:before {
	content: "";
	display: inline-block;
	background: url('https://ssl.gstatic.com/android/market_images/web/favicon.ico') no-repeat 0 0;
	background-size: 100%;
	margin: 0 0.2em 0 0.2em;
	height: 1em;
	width: 1em;
}

#dialog {
	text-align: center;
}

#dialog h2 {
	font-size: 1.5em;
}

#dialog p {
	font-size: 1em;
}

#dialog ul.share-buttons {
	list-style: none;
	padding: 0;
}

#dialog ul.share-buttons li {
	display: inline;
}

.yes {
	color: #2ECC71;
}

.no {
	color: #E74C3C;
}